
.hint {
  margin: 1em;
  padding: 1em;
  padding-bottom: 0em;
}
.clicked .hint {
  margin-bottom: 0em;
  margin-top: 0em;
}
.secret .hint {
  display: none;
}

.hint-wrap {
  padding: 1em;
  margin: 1em;
  border-radius: 1em;
  background-color: var(--hint-background-color);
  cursor: pointer;
}

.toggle-hint {
}

.clicked .toggle-hint:before {
  content: "Hinweis verstecken?";
}
.secret .toggle-hint:before {
  content: "Hinweis anzeigen?";
}



