
/* --- hints --- */
.clicked .toggle-hint:before {
  content: "Hide the hint!";
}
.secret .toggle-hint:before {
  content: "Show a hint?";
}

/* --- more description --- */
.playfield.verbose .match.ok:after {
  content: "✓ matched";
}
.playfield.verbose .match.fail:after {
  content: "✓ matched, but should not match";
}
.playfield.verbose .nomatch.ok:after {
  content: "should match";
}
.playfield.verbose .nomatch.fail:after {
  content: "ok, no match";
}

/* --- quiz --- */
.quiz .expression:before {
  content: "Regular Expression: ";
}
.quiz .expression:after {
  content: " appears in which lines? Click on \"Yes\" or \"No\".";
}
