---
---

.progress {
  text-align: center;
  width: 100%;
  padding: 5px;
  background-color: {{ site.data.colors.progress-color }};
  display: block;
}

.step {
  width: 20px;
  height: 20px;
  border: 3px solid {{ site.data.colors.step-color }};
  border-radius: 10px;
  display: inline-block;
  vertical-align: middle;
}

.progress > .step {
  margin-top: 10px;
  margin-bottom: 10px;
  display: inline-block;
}

.step.done {
  background-color: {{ site.data.colors.step-done-color }};
  border-color: {{ site.data.colors.step-done-border-color }};
}

.step.current {
  background-color: {{ site.data.colors.step-color }};
  color: white;
  text-decoration: none;
  font-size: 14px;
  width: 20px;
  height: 20px;
  line-height: 20px;
  border-radius: 20px;
  border-width: 4px;
}

.same-topic {
  background-color: {{ site.data.colors.header-color }};
  clear: none;
  padding: 5px;
  border-radius: 20px;
  display: inline-block;
  line-height: 10px;
}
