---
---

.progress {
  text-align: center;
  width: 100%;
  padding: 5px;
  background-color: {{ site.data.colors.progress-color }};
  display: block;
}

<style>
div {
  background-color: yellow;
  padding: 20px;
  display: none;
}
  
span:hover + div {
  display: block;
}
</style>

.progress .step {
  width: 10px;
  height: 10px;
  border: 3px solid {{ site.data.colors.step-color }};
  border-radius: 10px;
  display: inline-block;
  vertical-align: middle;
}

.progress > .step {
  margin-top: 5px;
  margin-bottom: 5px;
  display: inline-block;
}

.progress .step.done {
  background-color: {{ site.data.colors.step-done-color }};
  border-color: {{ site.data.colors.step-done-border-color }};
}

.progress .step.current {
  background-color: {{ site.data.colors.step-color }};
}

.progress .same-topic {
  background-color: {{ site.data.colors.header-color }};
  clear: none;
  padding: 5px;
  border-radius: 20px;
  display: inline-block;
  line-height: 10px;
}
