---
---

.progress {
  text-align: center;
  width: 100%;
  padding-top: 0.25em;
  background-color: {{ site.data.colors.progress-color }};
  display: block;
}

.progress .step span {
  display: inline-block; /* http://stackoverflow.com/questions/2491068/ddg#2491072 */
  height: 0.7em;
  width: 0.7em;
  border-radius: 0.7em;
  border-width: 0.2em;
  border-style: solid;
  border-color: {{ site.data.colors.step-color }};
}
.progress .step {
  display: inline-block; /* http://stackoverflow.com/questions/2491068/ddg#2491072 */
  padding-left: 0.1em;
  padding-right: 0.1em;
  padding-top: 0.7em;
  padding-bottom: 1em;
  clear: none;
}

.progress .step.done span {
  background-color: {{ site.data.colors.step-done-color }};
  border-color: {{ site.data.colors.step-done-border-color }};
}

.progress .step.current span {
  background-color: {{ site.data.colors.step-color }};
}

.progress .same-topic {
  background-color: {{ site.data.colors.header-color }};
  clear: none;
  padding-left: 0.35em;
  padding-right: 0.35em;
  border-radius: 1.05em;
  padding-top: 0.75em;
  padding-bottom: 0.3em;
}
