---
---

.hidden {
  display: none;
}

.success {
  background-color: {{ site.data.colors.works }};
}

.regex {
  background-color: {{ site.data.colors.regular-expression-text-backgound-color }};
  padding-right: 0.3em;
  padding-left: 0.3em;
  padding-bottom: 0.1em;
  padding-top: 0.1em;
  border-radius: 0.1em;
  border-width: 1px;
  border-color: {{ site.data.colors.regular-expression-text-border-color }};
  border-style: solid;
}

.key {
  background-color: {{ site.data.colors.regular-expression-text-backgound-color }};
  padding-right: 0.3em;
  padding-left: 0.3em;
  padding-bottom: 0.1em;
  padding-top: 0.1em;
  border-radius: 0.3em;
  border-width: 0em;
  border-right-width: 0.1em;
  border-bottom-width: 0.15em;
  border-bottom-right-radius: 0em;
  border-top-left-radius: 0em;
  border-color: {{ site.data.colors.regular-expression-text-border-color }};
  border-style: solid;
  /*box-shadow: 0em 0em 0.1em 0em rgba(50,50,50,1);*/
  font-weight: bold;
}

p {
  line-height: 140%;
}

header {
  background-color: {{ site.data.colors.header-color }};
  right: 0px;
  left: 0px;
  top: 0px;
  width: 100%;
  border: 0px;
}

header h2 {
  padding-right: 1em;
  padding-left: 1em;
  margin-top: 0.3em;
  margin-bottom: 0.5em;
  padding-bottom: 0.5em;
  text-align: center;
}

body {
  margin: 0px;
  background-color: {{ site.data.colors.default-background-color }};
}

.main {
  padding-right: 1em;
  padding-left: 1em;
}
@media (min-width: 40em) {
  .main {
    max-width: 40em;
    margin-left: calc(50% - 20em);
  }
}
footer {
  padding: 1em;
  margin-top: 1em;
  background-color: {{ site.data.colors.header-color }};
  text-align: center;
}

footer img {
  vertical-align: middle;
}

footer .links { 
  padding-bottom: 0.5em;
}
footer .links a { 
  margin-left: 1em;
  margin-right: 1em;
  white-space: nowrap;
}

footer a {
  color: black;
}

.next-page {
  text-align: center;
  display: block;
  margin: 1em;
  padding: 1em;
  background-color: {{ site.data.colors.next-page-color }};
  border-radius: 1em;
  text-decoration: none;
  color: black;
}

.requirements-satisfied .next-page {
  background-color: {{ site.data.colors.works }};
}

img {
  max-width: 100%;
}