.hidden {
  display: none;
}

/* ----- playfield ----- */
.playfield { 
}
.regex {
  width: 100%;
}
.message {
}
.examples {
}
.ok {
}
.fail {
}

/* ----- matcher ----- */
.match{
}
.match::before {
  content: "✓";
  padding-right: 1em;
}
.nomatch {
}
.nomatch.ok {
  background-color: var(--fails);
}
.match.fail {
  background-color: var(--fails);
}
.error {
  background-color: var(--fails);
}
.success {
  background-color: var(--works);
}
.success::before {
  content: "✓";
  padding-right: 1em;
}

.text-match {
  display: inline;
  font-weight: bold;
}
.text-nomatch {
  display: inline;
}
.experiment .content {
  display: inline;
}
.experiment::before {
  content: "";
  padding-right: 0em;
}

.experiment.match {
  
}