
/* ----- playfield ----- */
.playfield { 
}
.playfield  .regex {
  width: 90%;
}
.playfield  .message {
}
.playfield  .examples {
}
.playfield  .ok {
}
.playfield  .fail {
}

/* ----- playfield.js  ----- */
.playfield  .match{
}
.playfield  .match::after {
  content: "✓";
  padding-left: 1em;
}
.playfield  .nomatch {
}
.playfield  .nomatch.ok {
  background-color: var(--fails);
}
.playfield  .match.fail {
  background-color: var(--fails);
}
.playfield  .error {
  background-color: var(--fails);
}


.playfield  .text-match {
  display: inline;
  font-weight: bold;
}
.playfield  .text-nomatch {
}
.playfield  .experiment .content {
}
.playfield  .experiment::before {
  content: "";
  padding-right: 0em;
}

.playfield  .experiment.match {
  
}