.hidden {
  display: none;
}

.success {
  background-color: var(--works);
}
.success::before {
  content: "✓";
  padding-right: 1em;
}

body {
  background-color: var(--default-background-color);
}

.regex {
  background-color: var(--regular-expression-text-backgound-color);
  padding-right: 0.3em;
  padding-left: 0.3em;
  padding-bottom: 0.1em;
  padding-top: 0.1em;
  border-radius: 0.1em;
}

