<html>
  <head>
    <script type="text/javascript" async="" src="../js/playfield.js"></script>
    <script type="text/javascript" async="" src="../js/quiz.js"></script>
    <script type="text/javascript" async="" src="../js/hint.js"></script>
    <script type="text/javascript" async="" src="../js/cookies.js"></script>
    <script type="text/javascript" async="" src="../js/requirements.js"></script>
    <link type="text/css" rel="stylesheet" href="../css/colors.css" media="screen"/>
    <link type="text/css" rel="stylesheet" href="../css/tutorial.css" media="screen"/>
    <link type="text/css" rel="stylesheet" href="../css/playfield.css" media="screen"/>
    <link type="text/css" rel="stylesheet" href="../css/quiz.css" media="screen"/>
    <link type="text/css" rel="stylesheet" href="../css/hint.css" media="screen"/>
    <link type="text/css" rel="stylesheet" href="../css/progress.css" media="screen"/>
    <link type="text/css" rel="stylesheet" href="../css/requirements.css" media="screen"/>
    <meta charset="utf-8">
    <title>{{ page.title | escape }} - Interaktive Einführung in Reguläre Ausdrücke</title>
    <script type="text/javascript">
      var current_page_id = "page-" + {{ page.path | jsonify }};
    </script>
  </head>
  <body>
    <header>
      <div class="progress">
        {% assign same_topic_started = false %}
        {% assign should_assign_next = false %}
        {% assign has_next_page = false %}
        {% assign next_page = nil %}
        {% for p in site.pages %}<!--
          {% assign tutorial = p.path | split: "/" | first %}
          {% assign file_name = p.path | split: "/" | first %}
          {% assign topic = page.path | split: "-" | first %}
          {% assign p_topic = p.path | split: "-" | first %}
          {% if tutorial == "tutorial" %}
            {% if p_topic == topic and same_topic_started == false %}
              --><span class="same-topic"><!--
              {% assign same_topic_started = true %}
            {% endif %}
            {% if p_topic != topic and same_topic_started == true %}
              --></span><!--
              {% assign same_topic_started = false %}
            {% endif %}
            --><a id="page-{{ p.path }}" class="step {% if page == p %}current{% endif %}" href="..{{ p.url }}"><span></span></a><!--
            {% if should_assign_next %}
              {% assign should_assign_next = false %}
              {% assign has_next_page = true %}
              {% assign next_page = p %}
            {% endif %}
            {% if page == p %}
              {% assign should_assign_next = true %}
            {% endif %}
          {% endif %}
        -->{% endfor %}
        {% if same_topic_started %}
          </div>
        {% endif %}
      </div>
      <h2>{{ page.title | escape }}</h2>
    </header>
    <main>
      {{ content }}
      {% if has_next_page %}
        <a href="{{ next_page.url }}" class="next-page">Nächster Schritt</a>
      {% endif %}
    </main>
    <footer>
      <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons Lizenzvertrag" style="border-width:0" src="../assets/cc-by-sa.png" /></a>
      <span xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/InteractiveResource" property="dct:title" rel="dct:type">Regex-Tutorial</span> von <span xmlns:cc="http://creativecommons.org/ns#" property="cc:attributionName">Nicco Kunzmann</span> ist lizenziert unter einer <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Namensnennung - Weitergabe unter gleichen Bedingungen 4.0 International Lizenz</a>.
      {% assign lowercase_content = content | downcase %}
      {% if lowercase_content contains "<img" %}
        Bilder, die eine andere Lizenz haben, können angeklickt werden, um zu dem Erklärungstext zu gelangen.
      {% endif %}
    </footer>
  </body>
</html>