<!DOCTYPE html>
<html>
  {% if page.lang %}
    {% assign language = page.lang %}
  {% else %}
    {% assign language = "en" %}
  {% endif %}
  <head>
    <script type="text/javascript" async="" src="../js/playfield.js"></script>
    <script type="text/javascript" async="" src="../js/quiz.js"></script>
    <script type="text/javascript" async="" src="../js/hint.js"></script>
    <script type="text/javascript" async="" src="../js/cookies.js"></script>
    <script type="text/javascript" async="" src="../js/requirements.js"></script>
    <script type="text/javascript" async="" src="../js/compatibility.js"></script>
    <script type="text/javascript" async="" src="../js/lang-{{ language }}.js"></script>
    <link type="text/css" rel="stylesheet" href="../css/tutorial.css" media="screen"/>
    <link type="text/css" rel="stylesheet" href="../css/playfield.css" media="screen"/>
    <link type="text/css" rel="stylesheet" href="../css/quiz.css" media="screen"/>
    <link type="text/css" rel="stylesheet" href="../css/hint.css" media="screen"/>
    <link type="text/css" rel="stylesheet" href="../css/progress.css" media="screen"/>
    <link type="text/css" rel="stylesheet" href="../css/requirements.css" media="screen"/>
    <link type="text/css" rel="stylesheet" href="../css/Ubuntu.css" media="screen"/>
    <link type="text/css" rel="stylesheet" href="../css/lang-{{ language }}.css" media="screen"/>
    <link rel="shortcut icon" href="../favicon.ico?v=2" type="image/x-icon">
    <meta charset="utf-8">
    <title>{{ page.title | escape }} -
      {% if language == "de" %}
        Interaktive Einführung in Reguläre Ausdrücke
      {% elsif language == "en" %}
        Interactive Introduction to Regular Expressions
      {% elsif language == "sv" %}
        Interaktiv Introduktion till Reguljära Uttryck
      {% endif %}
    </title>
    <script type="text/javascript">
      var current_page_id = "page-" + {{ page.path | jsonify }};
    </script>
  </head>
  <body>
    <header>
      <div class="progress">
        {% assign same_topic_started = false %}
        {% assign should_assign_next = false %}
        {% assign has_next_page = false %}
        {% assign next_page = nil %}
        {% for p in site.pages %}<!--
          {% assign tutorial = p.path | split: "/" | first %}
          {% assign file_name = p.path | split: "/" | first %}
          {% assign topic = page.path | split: "-" | first %}
          {% assign p_topic = p.path | split: "-" | first %}
          --><!--
          {% if tutorial == "steps" and p.lang == language %}
            {% if p_topic == topic and same_topic_started == false %}
              --><span class="same-topic"><!--
              {% assign same_topic_started = true %}
            {% endif %}
            {% if p_topic != topic and same_topic_started == true %}
              --></span><!--
              {% assign same_topic_started = false %}
            {% endif %}
            --><a id="page-{{ p.path }}" class="step {% if page == p %}current{% endif %}" href="..{{ p.url }}"><span></span></a><!--
            {% if should_assign_next %}
              {% assign should_assign_next = false %}
              {% assign has_next_page = true %}
              {% assign next_page = p %}
            {% endif %}
            {% if page == p %}
              {% assign should_assign_next = true %}
            {% endif %}
          {% endif %}
        -->{% endfor %}
        {% if same_topic_started %}
          </div>
        {% endif %}
      </div>
      <h2>{{ page.title | escape }}</h2>
    </header>
    <div class="main">
      {{ content }}
      {% if has_next_page %}
        <a href="..{{ next_page.url }}" class="next-page">{{ site.data.footer.nextstep[language] }}</a>
      {% endif %}
    </div>
    <footer>
      <div class="links">
        <a href="{{ site.sourcecode.edit }}/{{ page.path }}">{{ site.data.footer.edit[language] }}</a>
        <a href="{{ site.sourcecode.newissue }}">{{ site.data.footer.newissue[language] }}</a>
        <a href="javascript:deleteCookies()">{{ site.data.footer.deletecookies[language] }}</a>
        <a href="{{ site.sourcecode.view }}/{{ page.path }}">{{ site.data.footer.view[language] }}</a>
      </div>
      <div class="license">
        <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons Lizenzvertrag" style="border-width:0" src="../assets/cc-by-sa.png" /></a>
        {% if language == "de" %}
          <span xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/InteractiveResource" property="dct:title" rel="dct:type">Regex-Tutorial</span> von <span xmlns:cc="http://creativecommons.org/ns#" property="cc:attributionName">Nicco Kunzmann</span> ist lizenziert unter einer <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Namensnennung - Weitergabe unter gleichen Bedingungen 4.0 International Lizenz</a>.
        {% elsif language == "en" %}
          <span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">Regex Tutorial</span> by <span xmlns:cc="http://creativecommons.org/ns#" property="cc:attributionName">Nicco Kunzmann</span> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a>.
        {% elsif language == "sv" %}
          <span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">Regex Tutorial</span> av <span xmlns:cc="http://creativecommons.org/ns#" property="cc:attributionName">Nicco Kunzmann</span> är licenserad under en <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Erkännande 4.0 Internationell Licens</a>.
        {% endif %}
        {% assign lowercase_content = content | downcase %}
        {% if lowercase_content contains "<img" %}
          {% if language == "de" %}
            Bilder, die eine andere Lizenz haben, können angeklickt werden, um zu dem Erklärungstext oder der Quelle zu gelangen.
          {% elsif language == "en" %}
            Pictures with a different license can be clicked to reach the source or an explanation.
          {% elsif language == "sv" %}
            Bilder med en annan licens går att klicka på för att komma till källan eller få en förklaring.
          {% endif %}
        {% endif %}
      </div>
    </footer>
  </body>
</html>
